<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="MemberMapper">

	<insert id="insertMember" parameterType="Member">
		insert into member_tb values(seq_mem_num.nextval, #{mem_id}, #{mem_pw}, #{mem_sex}, #{mem_age}, #{mem_email}, #{mem_phone})
	</insert>
	
	<select id="login" parameterType="Member" resultType="Member">
		select * from member_tb where mem_id = #{mem_id} and mem_pw = #{mem_pw}
	</select>
	
	<select id="idCheck" parameterType="String" resultType="Member">
		select * from member_tb where mem_id = #{mem_id}
	</select>
	
<!-- 	<select id="print" resultType="Member">
		select mem_num, mem_id, mem_pw, mem_name, mem_phone, mem_email from member
	</select>
	
	<delete id="delete" parameterType="int">
		delete member where mem_num = #{mem_num}
	</delete> -->
	
</mapper>
